# In this notebook we will be gathering, assessing, cleaning, analyzing, and visualizing data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import requests
import json

## Gathering data

In [3]:
# load the csv file into a DataFrame
archive_df = pd.read_csv('twitter-archive-enhanced.csv')
archive_df.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None

In [4]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
img_req = requests.get(url, allow_redirects=True)

open('image_predictions.tsv', 'wb').write(img_req.content)
image_df = pd.read_csv('image_predictions.tsv', sep = '\t')
image_df.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [5]:
import os
print(os.getcwd())
arr = os.listdir('.')
print(arr)

/Users/pp/Documents/Udacity/Wrangle and Analyze Data
['wrangle_act.ipynb', 'twitter-archive-enhanced.csv', '.DS_Store', 'twitter-archive-enhanced-2.csv', 'image_predictions.tsv', 'twitter_api.ipynb', 'image-predictions-3.tsv', 'tweet_json_1.txt', '.ipynb_checkpoints', 'image-predictions.tsv', 'tweet_json.txt', 'tweet-json.zip']

In [9]:
# Loading the Twitter data without creating Twitter account
tweet_json_df = pd.read_json('tweet_json_1.txt',lines=True)

tweet_json_df["retweeted_status"].fillna("Original", inplace = True) 


#filtered_df = tw_counts_df[tw_counts_df['retweeted_status'].notnull()]
#filtered_df.info()
columns = ['tweet_id','favorite_count','retweet_count','retweeted','retweeted_status']#,'retweet_status']
#df1 = pd.DataFrame(filtered_df, columns=columns)
#df1.head()

tweet_json = pd.DataFrame(tweet_json_df, columns=columns)
tweet_json.head()

if tweet_json['retweeted_status'] == 'Original':
    retweet_status = 'I am an original tweet'
else:
    retweet_status = 'I am not an original tweet'


#print(filtered_df['retweeted_status'].value_counts())

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [10]:
l = []
with open('tweet_json.txt','r') as f:
    for line in f.readlines():
        tweet_json = json.loads(line)
        tweet_id = tweet_json['id']
        favorite_count = tweet_json['favorite_count']
        retweet_count = tweet_json['retweet_count']
        retweeted = tweet_json['retweeted']
        #retweeted_status = tweet_json['retweeted_status']
        favorite_count = tweet_json['favorite_count']
        retweeted_status = tweet_json["retweeted_status"].fillna("Original", inplace = True)
        """
        if tweet_json['retweeted_status'] == "Original":
            retweet_status = 'I am original tweet'
        else:
            retweet_status = 'I am not an original tweet'  
        """
            
        l.append({'tweet_id': tweet_id,
                        'favorite_count':favorite_count,
                        'retweet_count':retweet_count,
                        'retweeted':retweeted,
                        'retweeted_status':retweeted_status
                       })
tweet_df = pd.DataFrame(l,columns = ['tweet_id','favorite_count','retweet_count','retweeted','retweeted_status'])
#tweet_df['retweeted_status'].value_counts()
tweet_df.head(20)

KeyError: 'retweeted_status'

## Assessing data
### Goal: Identify quality and tidiness issues.<br/> Detect and document at least eight (8) quality issues and two (2) tidiness issues in your wrangle_act.ipynb Jupyter Notebook.

In [ ]:
archive_df.info()
archive_df.head()

# Issue 1: Missing data for columns in archive_df - in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id,retweeted_status_user_id, retweeted_status_timestamp

In [ ]:
image_df.info()
image_df.head()

In [ ]:
tweet_df.info()
tweet_df.head()

In [ ]:
#Check for duplicates

#sum(image_df.jpg_url.duplicated())
print('Duplicates in archive df: ',archive_df.duplicated().sum())
print('Duplicates in image df: ',image_df.duplicated().sum())
print('Duplicates in tweet df: ',tweet_df.duplicated().sum())

print('Duplicates in archive df for tweet id: ',archive_df['tweet_id'].duplicated().sum())
print('Duplicates in image df for tweet id: ',image_df['tweet_id'].duplicated().sum())
print('Duplicates in tweet df for tweet id: ',tweet_df['tweet_id'].duplicated().sum())

In [ ]:
# Check for NULL values
archive_df.isnull().sum()
#same as Issue # 1

In [ ]:
image_df.isnull().sum()

In [ ]:
tweet_df.isnull().sum()

In [ ]:
# Deep dive into each of the data sets
#archive_df.info()
archive_df['name'].value_counts()
#Issue 2: There are names such as 'None', 'a', 'such','O','a', 'actually', 'all', 'an', 
#       'the', 'this', 'unacceptable', 'very','my', 'not', 'officially', 'by', 'getting',
#      'his'
np.sort(archive_df['name'].unique())
#archive_df.query("name == 'an'").loc[:,['text','name']]
#Issue # 3: Most of the names starts with Caps 
#while there are few at the end starting with small letter

In [ ]:
archive_df.info()
archive_df.head()
print(np.sort(archive_df['doggo'].unique()))
print(np.sort(archive_df['floofer'].unique()))
print(np.sort(archive_df['pupper'].unique()))
print(np.sort(archive_df['puppo'].unique()))

print(archive_df['doggo'].value_counts())
print(archive_df['floofer'].value_counts())
print(archive_df['pupper'].value_counts())
print(archive_df['puppo'].value_counts())

#find records with none of the columns populated with correct value
archive_df.loc[(archive_df['doggo']== 'None') & (archive_df['floofer']== 'None') & (archive_df['pupper']== 'None') & (archive_df['puppo']== 'None')]


#Issue # 3: The four columns, doggo, floofer, pupper and puppo has all the values
#populated as None for 1976/2356 records, so there is no dog "stage" (i.e. doggo, floofer, pupper, and puppo) information

In [ ]:
# analyze rating numerator and denominator
print(np.sort(archive_df['rating_numerator'].unique()))
print(archive_df['rating_numerator'].value_counts())


#Issue 4: Rating numerator is 1776 for one record and 0 for two records

In [ ]:
# analyze rating numerator and denominator
print(np.sort(archive_df['rating_denominator'].unique()))
print(archive_df['rating_denominator'].value_counts())

#Issue 4: Rating denominator is expected to be 10 but there are other value too

In [ ]:
#You only want original ratings (no retweets) that have images. 
#Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.

#analyze retweet data
print("Total retweets:",archive_df.shape)
#print("Not a Retweet",archive_df['retweeted_status_id'].isnull().sum())
count_null = archive_df['retweeted_status_id'].isnull().sum()
print ('Original Tweets (retweet ID as NULL): ' + str(count_null))
print("Total retweets:",archive_df.shape[0] - count_null)

#Issue 5: We are not intrested in retweets and there are 181 retweets in the archive data

In [ ]:
# lets analyze images data
image_df.head()

In [ ]:
image_df.info()

In [ ]:
image_df.isnull().sum()
# No null values

In [ ]:
image_df['tweet_id'].duplicated().any()
# No duplicates for tweet id

In [ ]:
print('------p1_dog-----\n',image_df['p1_dog'].value_counts())
print('------p2_dog-----\n',image_df['p2_dog'].value_counts())
print('------p3_dog-----\n',image_df['p3_dog'].value_counts())

#print(image_df.loc[(image_df['p1_dog']== False) & (image_df['p2_dog']== False) & (image_df['p3_dog']== False)])

not_a_dog = image_df.loc[(image_df['p1_dog']== False) & (image_df['p2_dog']== False) & (image_df['p3_dog']== False)] 
print('------not_a_dog----\n',not_a_dog['tweet_id'].value_counts())

# Issue 6: There are 324 records for which all three algorithm predeictions is other than 
# the dog breed
# We could saave time by removing these records

In [ ]:
image_df.head()
#print('------image num-----\n',image_df['img_num'].value_counts())

# Issue 7: The dog breed names populated in the p1, p2 and p2 are not consistent
#few are starting with CAPS while others are with lowercase

# Issue 8: There are multiple dog breeds in one column with underscore as delimiter
# we may want to consider one for analysis

In [ ]:
# check for duplicates in the url
image_df['jpg_url'].duplicated().any()

print('Duplicates URLs: ',image_df['jpg_url'].duplicated().sum())

# Issue 9: There are 66 duplciate URLS, which means same pic has been uploaded which
# will not provide additional information and we may want to delete the duplicate pics

In [ ]:
# Analyze the lst file

In [ ]:
tweet_df.head(11)
tweet_df.info()

In [ ]:
tweet_df.isnull().sum()
# no NULL values

In [ ]:
tweet_df['tweet_id'].duplicated().any()
# No duplicates for tweet id

In [ ]:
tweet_df.retweeted.value_counts()
# All the values for 'retweeted' column is False, hence we may want to use retweeted_status
# for further analysis